body {
  background-color: lightblue;
}

h1 {
  color: darkblue;
}

#call-api {
  background-color: lightpink;
  border-radius: 20px;
  border: 2px solid gray;
  height: 35px;
}

#call-api:active {
  background-color: darkblue
  ;
}

/* change the styles in this file to whatever you want */
